In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("CKD.csv")

In [3]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data.head()

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.0,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.0,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.0,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.0,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.0,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1

In [7]:
print(y.value_counts())

classification_yes
1                     249
0                     150
dtype: int64

In [6]:
x=data.iloc[:,:27]
y=data.iloc[:,-1:]

In [8]:
def split_scalar(x,y):
        from sklearn.model_selection import train_test_split 

        x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25,stratify=y, random_state = 0)
       
        from sklearn.preprocessing import StandardScaler
        sc = StandardScaler()
        x_train = sc.fit_transform(x_train)
        x_test = sc.transform(x_test)
        
        return x_train, x_test, y_train, y_test

In [17]:
def lda(x_train,x_test,y_train):
    from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
    lda=LDA(n_components=1)
    x_train=lda.fit_transform(x_train,y_train)
    x_test=lda.transform(x_test)
    explained_var=lda.explained_variance_ratio_
    return x_train,x_test

In [10]:
def cm_prediction(classifier,X_test):
    y_pred = classifier.predict(X_test)

        # Making the Confusion Matrix
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)

    from sklearn.metrics import accuracy_score 
    from sklearn.metrics import classification_report 
        #from sklearn.metrics import confusion_matrix
        #cm = confusion_matrix(y_test, y_pred)

    Accuracy=accuracy_score(y_test, y_pred )

    report=classification_report(y_test, y_pred)
    return  classifier,Accuracy,report,X_test,y_test,cm

def logistic(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.linear_model import LogisticRegression
        classifier = LogisticRegression(random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      
    
def svm_linear(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'linear', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def svm_NL(X_train,y_train,X_test):
                
        from sklearn.svm import SVC
        classifier = SVC(kernel = 'rbf', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def Navie(X_train,y_train,X_test):       
        # Fitting K-NN to the Training set
        from sklearn.naive_bayes import GaussianNB
        classifier = GaussianNB()
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm         
    
    
def knn(X_train,y_train,X_test):
           
        # Fitting K-NN to the Training set
        from sklearn.neighbors import KNeighborsClassifier
        classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
def Decision(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.tree import DecisionTreeClassifier
        classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm      


def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, y_train)
        classifier,Accuracy,report,X_test,y_test,cm=cm_prediction(classifier,X_test)
        return  classifier,Accuracy,report,X_test,y_test,cm
    
def model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran):
    classifier,Accuracy,report,X_test,y_test,cm=logistic(x_train,y_train,x_test)
    acclog.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=svm_linear(x_train,y_train,x_test)  
    accsvml.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=svm_NL(x_train,y_train,x_test)  
    accsvmnl.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=knn(x_train,y_train,x_test)  
    accknn.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=Navie(x_train,y_train,x_test)  
    accnav.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=Decision(x_train,y_train,x_test)  
    accdec.append(Accuracy)

    classifier,Accuracy,report,X_test,y_test,cm=random(x_train,y_train,x_test)  
    accran.append(Accuracy)
    
def report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran):

    for i,index in enumerate(dataFrame.index):
        dataFrame['Logistic'][index]=acclog[i]
        dataFrame['SVMl'][index]=accsvml[i]
        dataFrame['SVMnl'][index]=accsvmnl[i]
        dataFrame['KNN'][index]=accknn[i]
        dataFrame['Navie'][index]=accnav[i]
        dataFrame['Decision'][index]=accdec[i]
        dataFrame['Random'][index]=accran[i]

In [11]:
acclog=[]
accsvml=[]
accsvmnl=[]
accknn=[]
accnav=[]
accdec=[]
accran=[]

In [12]:
dataFrame=pd.DataFrame(index=[2],columns=['Logistic','SVMl','SVMnl','KNN','Navie','Decision','Random'])

In [13]:
dataFrame

  Logistic SVMl SVMnl  KNN Navie Decision Random
2      NaN  NaN   NaN  NaN   NaN      NaN    NaN

In [ ]:
# x_train, x_test, y_train, y_test = split_scalar(x,y)
# # n=2
# x_train,x_test=pca(2,X_train,X_test)
# model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# # n=3
# x_train,x_test=pca(3,X_train,X_test)
# model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# # n=5
# x_train,x_test=pca(5,X_train,X_test)
# model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# # n=7
# x_train,x_test=pca(7,X_train,X_test)
# model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# # n=8
# x_train,x_test=pca(8,X_train,X_test)
# model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
# report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)

In [18]:
X_train, X_test, y_train, y_test = split_scalar(x,y)
# n=2
x_train,x_test=lda(X_train,X_test,y_train)
model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)

C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\ipykernel_launcher.py:74: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [19]:
dataFrame

  Logistic  SVMl SVMnl   KNN Navie Decision Random
2     0.98  0.98  0.98  0.96  0.98     0.95   0.95

In [20]:
dataFrame.loc[3] = [None] * len(dataFrame.columns)

In [22]:
# n=3
x_train,x_test=lda(X_train,X_test,y_train)
model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)

C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\ipykernel_launcher.py:74: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [23]:
dataFrame

  Logistic  SVMl SVMnl   KNN Navie Decision Random
2     0.98  0.98  0.98  0.96  0.98     0.95   0.95
3     0.98  0.98  0.98  0.96  0.98     0.95   0.95

In [24]:
dataFrame.loc[5] = [None] * len(dataFrame.columns)

In [25]:
# n=5
x_train,x_test=lda(X_train,X_test,y_train)
model_call(x_train,y_train,x_test,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)
report(dataFrame,acclog,accsvml,accsvmnl,accknn,accnav,accdec,accran)

C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91636\anaconda3\envs\hopeai\lib\site-packages\ipykernel_launcher.py:74: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [26]:
dataFrame

  Logistic  SVMl SVMnl   KNN Navie Decision Random
2     0.98  0.98  0.98  0.96  0.98     0.95   0.95
3     0.98  0.98  0.98  0.96  0.98     0.95   0.95
5     0.98  0.98  0.98  0.96  0.98     0.95   0.95